<a href="https://colab.research.google.com/github/NihaRGali/data601_niha/blob/main/assignment_06/assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assignment - 6
- Professor : Wang
- Student   : Niha Reddy Gali

In [2]:
!wget https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_01192021.zip

--2021-10-14 14:28:51--  https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_01192021.zip
Resolving ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)... 15.200.243.39, 15.205.92.235, 2600:1f12:18a:7d01:29c7:6ff5:8ad8:c8f0, ...
Connecting to ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)|15.200.243.39|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 385541173 (368M) [application/zip]
Saving to: ‘CollegeScorecard_Raw_Data_01192021.zip’

CollegeScorecard_Ra 100%[===================>] 367.68M  70.0MB/s    in 5.7s

2021-10-14 14:28:57 (64.4 MB/s) - ‘CollegeScorecard_Raw_Data_01192021.zip’ saved [385541173/385541173]

In [3]:
!unzip CollegeScorecard_Raw_Data_01192021.zip

Archive:  CollegeScorecard_Raw_Data_01192021.zip
   creating: Raw Data Files/
  inflating: Raw Data Files/MERGED2011_12_PP.csv
  inflating: Raw Data Files/MERGED1999_00_PP.csv
  inflating: Raw Data Files/MERGED2006_07_PP.csv
  inflating: Raw Data Files/MERGED2014_15_PP.csv
  inflating: Raw Data Files/Most-Recent-Cohorts-All-Data-Elements.csv
  inflating: __MACOSX/Raw Data Files/._Most-Recent-Cohorts-All-Data-Elements.csv
  inflating: Raw Data Files/MERGED2003_04_PP.csv
  inflating: Raw Data Files/MERGED1996_97_PP.csv
  inflating: Raw Data Files/FieldOfStudyData1516_1617_PP.csv
  inflating: Raw Data Files/Most-Recent-Cohorts-Field-of-Study.csv
  inflating: Raw Data Files/MERGED2012_13_PP.csv
  inflating: Raw Data Files/MERGED2005_06_PP.csv
  inflating: Raw Data Files/MERGED2009_10_PP.csv
  inflating: Raw Data Files/FieldOfStudyData1617_1718_PP.csv
  inflating: Raw Data Files/MERGED2018_19_PP.csv
  inflating: Raw Data Files/MERGED2017_18_PP.csv
  inflating: Raw Data Files/Crosswalks.zip
  inflating: __MACOSX/Raw Data Files/._Crosswalks.zip
  inflating: Raw Data Files/MERGED2000_01_PP.csv
  inflating: Raw Data Files/MERGED2001_02_PP.csv
  inflating: Raw Data Files/MERGED2016_17_PP.csv
  inflating: Raw Data Files/MERGED1997_98_PP.csv
  inflating: Raw Data Files/MERGED1998_99_PP.csv
  inflating: Raw Data Files/data.yaml
  inflating: Raw Data Files/MERGED2004_05_PP.csv
  inflating: Raw Data Files/MERGED2002_03_PP.csv
  inflating: Raw Data Files/MERGED2015_16_PP.csv
  inflating: Raw Data Files/MERGED2013_14_PP.csv
  inflating: Raw Data Files/MERGED2007_08_PP.csv
  inflating: Raw Data Files/MERGED2008_09_PP.csv
  inflating: Raw Data Files/MERGED2010_11_PP.csv
  inflating: Raw Data Files/FieldOfStudyData1415_1516_PP.csv
  inflating: __MACOSX/Raw Data Files/._FieldOfStudyData1415_1516_PP.csv

# <1> 
# Import libraries

In [110]:
import pandas as pd
import os  #importing the os module
import plotly.graph_objects as go #importing plotly

import numpy as np

# <2> 
# Display the current workin directory using os.getcwd()
# you would need to import a standard Python library called os which stands for operating system,
# so place that import statement in the previous cell.
# Since your notebook and your data files are not in # the same folder, 
# you want to make sure what is the current working folder and 
# how to access a data file in a different folder

In [4]:
cd = os.getcwd()  #get the current working directory
                  #cd is the current wowrking directory
print("The current working directory is :", cd)

The current working directory is : /content

# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.
# use this method to assign the contents (list of file names) of the data folder to a variable and display it.
# # You can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

In [63]:
new = '/content/Raw Data Files'
file = os.listdir(new)
print(file)

['Crosswalks.zip', 'MERGED2014_15_PP.csv', 'MERGED2008_09_PP.csv', 'MERGED2010_11_PP.csv', 'MERGED2001_02_PP.csv', 'MERGED2007_08_PP.csv', 'MERGED2016_17_PP.csv', 'MERGED1996_97_PP.csv', 'Most-Recent-Cohorts-Field-of-Study.csv', 'MERGED2009_10_PP.csv', 'FieldOfStudyData1617_1718_PP.csv', 'MERGED2004_05_PP.csv', 'MERGED2011_12_PP.csv', 'MERGED2015_16_PP.csv', 'MERGED2000_01_PP.csv', 'MERGED2006_07_PP.csv', 'data.yaml', 'MERGED1999_00_PP.csv', 'MERGED2003_04_PP.csv', 'MERGED2012_13_PP.csv', 'FieldOfStudyData1516_1617_PP.csv', 'FieldOfStudyData1415_1516_PP.csv', 'MERGED1998_99_PP.csv', 'MERGED2005_06_PP.csv', 'MERGED2013_14_PP.csv', 'MERGED2002_03_PP.csv', 'MERGED2017_18_PP.csv', 'MERGED1997_98_PP.csv', 'MERGED2018_19_PP.csv', 'Most-Recent-Cohorts-All-Data-Elements.csv']

# <4> 
# The folder contains files that are not the yearly data files
# write code to remove the unwanted files from the list vsriable 
# Note: don't remove/delete these files from the folder in your drive
# For example, use the file extension to only keep the csv files 
# or use the name patter - data file name begins with "MERGED"
# You can use the concept of list comprehension to write just 
# one line of code as well as using a for loop, your choice.

In [11]:
files = [file for file in file if 'MERGED' in file]        #using list comprehension to keep file begining with 'MERGED'
file

['Crosswalks.zip',
 'MERGED2014_15_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2001_02_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED1996_97_PP.csv',
 'Most-Recent-Cohorts-Field-of-Study.csv',
 'MERGED2009_10_PP.csv',
 'FieldOfStudyData1617_1718_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2006_07_PP.csv',
 'data.yaml',
 'MERGED1999_00_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2012_13_PP.csv',
 'FieldOfStudyData1516_1617_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2018_19_PP.csv',
 'Most-Recent-Cohorts-All-Data-Elements.csv']

# <5> 
# Now that you have a clean list of the yearly files, you want to loop through them
# and read them into a dataframe one at a time. You only load six columns: 
# ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].
# You should use "usecols" option of Pandas to avoid reading unwanted columns.
# You also want to add a new column call "YEAR" to differentiate the data frames from each other.
# The YEAR variable should be yyyy format so tht you can convert them into integer.
# if you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer
# if you use scatter plot, the YEAR needs to be converted to integer or float. 
# 
# You would use an empty list and append the yearly dataframes to the list.
# After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a 
# new single data frame.
# Note: this exercise incorporates many techques we learned before
# - list (creating an empty, append an item to the list)
# - for loop 
# - read only the needed columns from a file (using usecols option)
# - add a new column to a data frame
# - concatenate multiple dataframes into a single one
# This exercise may appear a big challenging but it worths the effort. You will learn a lot and  love it. I promise.

In [64]:
df_list1 = []
def read(x):
    df = pd.read_csv(a+'/'+x,usecols=['UNITID', 'INSTNM', 'STABBR' , 'REGION' , 'ADM_RATE' , 'TUITIONFEE_IN'])
    df['year'] = x.split('_')[0].replace('MERGED','')
    df_list1.append(df)  

for x in files:
    read(x)

In [66]:
new_df = pd.concat(df_list1)

In [67]:
new_df

        UNITID                                    INSTNM  ... TUITIONFEE_IN  year
0       100654                  Alabama A & M University  ...        9096.0  2014
1       100663       University of Alabama at Birmingham  ...        7510.0  2014
2       100690                        Amridge University  ...        6900.0  2014
3       100706       University of Alabama in Huntsville  ...        9158.0  2014
4       100724                  Alabama State University  ...        8720.0  2014
...        ...                                       ...  ...           ...   ...
6801  48511112         Georgia Military College - Dublin  ...        6120.0  2018
6802  48511113        Georgia Military College - Eastman  ...        6120.0  2018
6803  48616901  American College of Barbering - Florence  ...           NaN  2018
6804  49005401      HCI College - Fort Lauderdale Campus  ...       21420.0  2018
6805  49146401          ABC Adult School - Cabrillo Lane  ...           NaN  2018

[163331 rows x 7 columns]

# <6> 
# explore the new dataframe (# of observations, varibles, head, tail, sample, missing values, statistics,etc.)

In [112]:
new_df.info
print("number of columns in df1=", df1.shape[0])
print("number of rows in df1=", df1.shape[1])

number of columns in df1= 163331
number of rows in df1= 7

In [69]:
new_df.columns

Index(['UNITID', 'INSTNM', 'STABBR', 'REGION', 'ADM_RATE', 'TUITIONFEE_IN',
       'year'],
      dtype='object')

In [19]:
new_df.head(10)

   UNITID                               INSTNM  ... TUITIONFEE_IN  year
0  100654             Alabama A & M University  ...        9096.0  2014
1  100663  University of Alabama at Birmingham  ...        7510.0  2014
2  100690                   Amridge University  ...        6900.0  2014
3  100706  University of Alabama in Huntsville  ...        9158.0  2014
4  100724             Alabama State University  ...        8720.0  2014
5  100751            The University of Alabama  ...        9826.0  2014
6  100760    Central Alabama Community College  ...        3491.0  2014
7  100812              Athens State University  ...           NaN  2014
8  100830      Auburn University at Montgomery  ...        9080.0  2014
9  100858                    Auburn University  ...       10200.0  2014

[10 rows x 7 columns]

In [70]:
new_df.tail(10)

        UNITID                                     INSTNM  ... TUITIONFEE_IN  year
6796  48511107        Georgia Military College - Columbus  ...        6120.0  2018
6797  48511108    Georgia Military College - Sandersville  ...        6120.0  2018
6798  48511109         Georgia Military College - Madison  ...        6120.0  2018
6799  48511110  Georgia Military College - Stone Mountain  ...        6120.0  2018
6800  48511111    Georgia Military College - Fayetteville  ...        6120.0  2018
6801  48511112          Georgia Military College - Dublin  ...        6120.0  2018
6802  48511113         Georgia Military College - Eastman  ...        6120.0  2018
6803  48616901   American College of Barbering - Florence  ...           NaN  2018
6804  49005401       HCI College - Fort Lauderdale Campus  ...       21420.0  2018
6805  49146401           ABC Adult School - Cabrillo Lane  ...           NaN  2018

[10 rows x 7 columns]

In [71]:
new_df.sample(5)

      UNITID                             INSTNM  ... TUITIONFEE_IN  year
1604  154350                    Simpson College  ...           NaN  1998
5632  454917         Celebrity School of Beauty  ...           NaN  2016
7112  475510               Christie's Education  ...           NaN  2013
4119  228431  Stephen F Austin State University  ...        6162.0  2007
3123  197081           Utica School of Commerce  ...        8988.0  2001

[5 rows x 7 columns]

In [72]:
new_df.describe()

             UNITID         REGION      ADM_RATE  TUITIONFEE_IN
count  1.633310e+05  163330.000000  44912.000000   79195.000000
mean   9.432395e+05       4.554693      0.692951   11665.636871
std    4.571721e+06       2.189217      0.217058    9986.003542
min    1.006360e+05       0.000000      0.000000       0.000000
25%    1.633380e+05       3.000000      0.555075    3776.000000
50%    2.127800e+05       5.000000      0.717500    9285.000000
75%    4.075680e+05       6.000000      0.857100   16148.000000
max    4.914640e+07       9.000000      1.000000   74787.000000

# <7>
# the dataframe contains many years of data of all U.S. colleges.
# let's just look at UMBC
# filter/query the dataframe to retrieve only rows that belong to UMBC
# save the UMNC data to a new data frame. using a new variable 
# so that the old big data frame is still available for later use.

In [118]:
df_UMBC=new_df.query('INSTNM=="University of Maryland-Baltimore County"')
df_UMBC.info

<bound method DataFrame.info of       UNITID                                   INSTNM  ... TUITIONFEE_IN  year
1610  163268  University of Maryland-Baltimore County  ...       10384.0  2014
1767  163268  University of Maryland-Baltimore County  ...        8780.0  2008
1710  163268  University of Maryland-Baltimore County  ...        9171.0  2010
1915  163268  University of Maryland-Baltimore County  ...        5910.0  2001
1779  163268  University of Maryland-Baltimore County  ...        8708.0  2007
1510  163268  University of Maryland-Baltimore County  ...       11264.0  2016
2151  163268  University of Maryland-Baltimore County  ...           NaN  1996
1745  163268  University of Maryland-Baltimore County  ...        8872.0  2009
1830  163268  University of Maryland-Baltimore County  ...        8020.0  2004
1694  163268  University of Maryland-Baltimore County  ...        9467.0  2011
1555  163268  University of Maryland-Baltimore County  ...       11006.0  2015
1926  163268  University of Maryland-Baltimore County  ...        5490.0  2000
1799  163268  University of Maryland-Baltimore County  ...        8622.0  2006
1955  163268  University of Maryland-Baltimore County  ...           NaN  1999
1873  163268  University of Maryland-Baltimore County  ...        7388.0  2003
1660  163268  University of Maryland-Baltimore County  ...        9764.0  2012
1982  163268  University of Maryland-Baltimore County  ...           NaN  1998
1819  163268  University of Maryland-Baltimore County  ...        8520.0  2005
1629  163268  University of Maryland-Baltimore County  ...       10068.0  2013
1893  163268  University of Maryland-Baltimore County  ...        6362.0  2002
1478  163268  University of Maryland-Baltimore County  ...       11518.0  2017
2049  163268  University of Maryland-Baltimore County  ...           NaN  1997
1415  163268  University of Maryland-Baltimore County  ...       11778.0  2018

[23 rows x 7 columns]>

# <8>
# Explore this UMBC dataframe (# of observations, varibles, head, tail, sample, missing values, statistics,etc.)

In [24]:
df_UMBC.shape
print("number of columns in df_UMBC=", df_UMBC.shape[0])
print("number of rows in df_UMBC=", df_UMBC.shape[1])

number of columns in df_UMBC= 23
number of rows in df_UMBC= 7

In [25]:
df_UMBC.columns

Index(['UNITID', 'INSTNM', 'STABBR', 'REGION', 'ADM_RATE', 'TUITIONFEE_IN',
       'year'],
      dtype='object')

In [115]:
df_UMBC.head(5)

      UNITID                                   INSTNM  ... TUITIONFEE_IN  year
1610  163268  University of Maryland-Baltimore County  ...       10384.0  2014
1767  163268  University of Maryland-Baltimore County  ...        8780.0  2008
1710  163268  University of Maryland-Baltimore County  ...        9171.0  2010
1915  163268  University of Maryland-Baltimore County  ...        5910.0  2001
1779  163268  University of Maryland-Baltimore County  ...        8708.0  2007

[5 rows x 7 columns]

In [116]:
df_UMBC.tail(5)

      UNITID                                   INSTNM  ... TUITIONFEE_IN  year
1629  163268  University of Maryland-Baltimore County  ...       10068.0  2013
1893  163268  University of Maryland-Baltimore County  ...        6362.0  2002
1478  163268  University of Maryland-Baltimore County  ...       11518.0  2017
2049  163268  University of Maryland-Baltimore County  ...           NaN  1997
1415  163268  University of Maryland-Baltimore County  ...       11778.0  2018

[5 rows x 7 columns]

In [117]:
df_UMBC.sample(5)

      UNITID                                   INSTNM  ... TUITIONFEE_IN  year
1694  163268  University of Maryland-Baltimore County  ...        9467.0  2011
2151  163268  University of Maryland-Baltimore County  ...           NaN  1996
1660  163268  University of Maryland-Baltimore County  ...        9764.0  2012
1767  163268  University of Maryland-Baltimore County  ...        8780.0  2008
1415  163268  University of Maryland-Baltimore County  ...       11778.0  2018

[5 rows x 7 columns]

In [29]:
df_UMBC.isnull().sum()

UNITID           0
INSTNM           0
STABBR           0
REGION           0
ADM_RATE         5
TUITIONFEE_IN    4
year             0
dtype: int64

In [30]:
df_UMBC.describe()

         UNITID  REGION   ADM_RATE  TUITIONFEE_IN
count      23.0    23.0  18.000000      19.000000
mean   163268.0     2.0   0.640694    9004.842105
std         0.0     0.0   0.052728    1825.795421
min    163268.0     2.0   0.568300    5490.000000
25%    163268.0     2.0   0.597600    8270.000000
50%    163268.0     2.0   0.632100    8872.000000
75%    163268.0     2.0   0.689375   10226.000000
max    163268.0     2.0   0.717400   11778.000000

# <9> 
# Plot UMBC's in-state tution overtime from 1996 to 2019 using Bar Chart

In [31]:
df_UMBC=df_UMBC.sort_values(['year'])

In [73]:
fig = go.Figure()

UMBC_Tutionfee = go.Bar(
    x=df_UMBC["year"],
    y=df_UMBC["TUITIONFEE_IN"], 
)

fig.add_trace(UMBC_Tutionfee)

fig.update_layout(
    title = "UMBC in-state tution overtime",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Tutionfee"}
)

fig.show()

# <10> 
# Plot UMBC's in-state tution overtime from 1996 to 2019 using Line Chart

In [77]:
fig = go.Figure()

UMBC_Tutionfee = go.Scatter(
    x=df_UMBC["year"],
    y=df_UMBC["TUITIONFEE_IN"],
    mode="markers+lines"
)

fig.add_trace(UMBC_Tutionfee)

fig.update_layout(
    title = "UMBC in-state tution overtime (1996-2019)",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Tutionfee"}
)

fig.show()

# <11>
# Now let's look at the tuition growth rate year over year
# We need to calculate UMBC tuition change percentage each year
# First convert the TUITIONFEE_IN column to a Python List

In [78]:
tutfee_list = df_UMBC['TUITIONFEE_IN'].tolist()

In [79]:
# Loop through the list and calculate the % change each year over the prior year
df_UMBC

      UNITID                                   INSTNM  ...  year  PCT_CHANGE
2151  163268  University of Maryland-Baltimore County  ...  1996         NaN
2049  163268  University of Maryland-Baltimore County  ...  1997         NaN
1982  163268  University of Maryland-Baltimore County  ...  1998         NaN
1955  163268  University of Maryland-Baltimore County  ...  1999         NaN
1926  163268  University of Maryland-Baltimore County  ...  2000         NaN
1915  163268  University of Maryland-Baltimore County  ...  2001        7.65
1893  163268  University of Maryland-Baltimore County  ...  2002        7.65
1873  163268  University of Maryland-Baltimore County  ...  2003       16.13
1830  163268  University of Maryland-Baltimore County  ...  2004        8.55
1819  163268  University of Maryland-Baltimore County  ...  2005        6.23
1799  163268  University of Maryland-Baltimore County  ...  2006        1.20
1779  163268  University of Maryland-Baltimore County  ...  2007        1.00
1767  163268  University of Maryland-Baltimore County  ...  2008        0.83
1745  163268  University of Maryland-Baltimore County  ...  2009        1.05
1710  163268  University of Maryland-Baltimore County  ...  2010        3.37
1694  163268  University of Maryland-Baltimore County  ...  2011        3.23
1660  163268  University of Maryland-Baltimore County  ...  2012        3.14
1629  163268  University of Maryland-Baltimore County  ...  2013        3.11
1610  163268  University of Maryland-Baltimore County  ...  2014        3.14
1555  163268  University of Maryland-Baltimore County  ...  2015        5.99
1510  163268  University of Maryland-Baltimore County  ...  2016        2.34
1478  163268  University of Maryland-Baltimore County  ...  2017        2.25
1415  163268  University of Maryland-Baltimore County  ...  2018        2.26

[23 rows x 8 columns]

In [83]:
tutfee_list = df_UMBC['TUITIONFEE_IN'].tolist()
for i in range(1,len(tutfee_list)):
  percent_diff=((tutfee_list[i]-tutfee_list[i-1])/tutfee_list[i-1])*100   #((new-old)/old)*100 calculating percentage change
  print(percent_diff)

nan
nan
nan
nan
7.650273224043716
7.648054145516074
16.12700408676517
8.554412560909583
6.234413965087282
1.1971830985915493
0.9974483878450475
0.8268259072117593
1.0478359908883828
3.370153291253381
3.227565151019518
3.1372134783986483
3.11347808275297
3.1386571315057608
5.989984591679507
2.344175904052335
2.254971590909091
2.2573363431151243

# The resulting number has many decimal points which are unnecessary and not visually appealing.
# Round up the percentage to two decimal points
# You can use for loop. Or better, use list comprehension for simplicity/brevity

In [84]:
round_percent_diff_list = []
for i in range(0,len(tutfee_list)):
  percent_diff=((tutfee_list[i]-tutfee_list[i-1])/tutfee_list[i-1])*100
  round_percent_diff_list.append(round(percent_diff,2))
  print(round(percent_diff,2))

nan
nan
nan
nan
nan
7.65
7.65
16.13
8.55
6.23
1.2
1.0
0.83
1.05
3.37
3.23
3.14
3.11
3.14
5.99
2.34
2.25
2.26

In [85]:
df_UMBC['%Change']=round_percent_diff_list # Adding as new column to the list
df_UMBC.sample(5)

      UNITID                                   INSTNM  ... PCT_CHANGE  %Change
1660  163268  University of Maryland-Baltimore County  ...       3.14     3.14
1694  163268  University of Maryland-Baltimore County  ...       3.23     3.23
1555  163268  University of Maryland-Baltimore County  ...       5.99     5.99
1893  163268  University of Maryland-Baltimore County  ...       7.65     7.65
2049  163268  University of Maryland-Baltimore County  ...        NaN      NaN

[5 rows x 9 columns]

# Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

In [86]:
fig = go.Figure()

UMBC_Tutionfee_growth_rate = go.Bar(
    x=df_UMBC["year"],
    y=df_UMBC["%Change"], 
)

fig.add_trace(UMBC_Tutionfee_growth_rate)

fig.update_layout(
    title = "UMBC tutionfee Growth Rate year with year in percentage",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Percentage change in fee"}
)

fig.show()

In [87]:
fig = go.Figure()

UMBC_Tutionfee_growth_rate = go.Scatter(
    x=df_UMBC["year"],
    y=df_UMBC["%Change"],
    mode="markers+lines" 
)

fig.add_trace(UMBC_Tutionfee_growth_rate)

fig.update_layout(
    title = "UMBC tutionfee Growth Rate with year in percentage",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Percentage change in fee"}
)

fig.show()

# <12>
# Since we want to do the same calculation for JHU. 
# Instead of doing it piecemeal as we did for UMBC
# Let's create a function which can be reused for any college.
# This function takes a list of tuitions and return a list of percentage changes year over year
# This function can be used later

In [90]:
def pct_tutfee_change():
  pct_tutfee_change_list = []
  for i in range(0,len(tutfee_list)):
    percent_diff=((tutfee_list[i]-tutfee_list[i-1])/tutfee_list[i-1])*100
    pct_tutfee_change_list.append(round(percent_diff,2))
  return pct_tutfee_change_list

# <13>
# the dataframe contains many years of data of all U.S. colleges.
# let's just look at JHU
# filter/query the dataframe to retrieve only rows that belong to JHU
# save the JHU data to a new data frame. using a new variable 
# so that the old big data frame is still available for later use.

In [91]:
JHU_df = df1.query('INSTNM=="Johns Hopkins University"')
JHU_df.sample(5)

      UNITID                    INSTNM STABBR  ...  ADM_RATE  TUITIONFEE_IN  year
1738  162928  Johns Hopkins University     MD  ...    0.2782        39150.0  2009
1503  162928  Johns Hopkins University     MD  ...    0.1284        50410.0  2016
1703  162928  Johns Hopkins University     MD  ...    0.2225        40680.0  2010
1792  162928  Johns Hopkins University     MD  ...    0.2792        33900.0  2006
1917  162928  Johns Hopkins University     MD  ...       NaN        24930.0  2000

[5 rows x 7 columns]

In [92]:
JHU_df=JHU_df.sort_values(by='year')
JHU_tutfee=JHU_df['TUITIONFEE_IN'].tolist()
print(JHU_tutfee)

[nan, nan, nan, nan, 24930.0, 26210.0, 27390.0, 28730.0, 30140.0, 31620.0, 33900.0, 35900.0, 37700.0, 39150.0, 40680.0, 42280.0, 43390.0, 45470.0, 47060.0, 48710.0, 50410.0, 52170.0, 53740.0]

# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

In [93]:
fig = go.Figure()

JHU_tutfee = go.Bar(
    x=JHU_df["year"],
    y=JHU_df["TUITIONFEE_IN"], 
)

fig.add_trace(JHU_tutfee)

fig.update_layout(
    title = "JHU in-state tutionfee over the years",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Tutionfee"}
)

fig.show()

In [94]:
fig = go.Figure()

JHU_tutfee = go.Scatter(
    x=JHU_df["year"],
    y=JHU_df["TUITIONFEE_IN"],
    mode="markers+lines" 
)

fig.add_trace(JHU_tutionfee)

fig.update_layout(
    title = "JHU in-state tutionfee over the years",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Tutionfee"}
)

fig.show()

# <15>
# Let's calculate the JHU tuition percentge growth using the function defined earlier

In [95]:
PCT_CHANGE_JHU = pct_tutfee_change()
print(PCT_CHANGE_JHU)

[nan, nan, nan, nan, nan, 7.65, 7.65, 16.13, 8.55, 6.23, 1.2, 1.0, 0.83, 1.05, 3.37, 3.23, 3.14, 3.11, 3.14, 5.99, 2.34, 2.25, 2.26]

# <16>
# Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

In [96]:
JHU_df['PCT_CHANGE']=PCT_CHANGE_JHU 

JHU_df.sample(5)

      UNITID                    INSTNM STABBR  ...  TUITIONFEE_IN  year  PCT_CHANGE
1503  162928  Johns Hopkins University     MD  ...        50410.0  2016        2.34
1410  162928  Johns Hopkins University     MD  ...        53740.0  2018        2.26
2139  162928  Johns Hopkins University     MD  ...            NaN  1996         NaN
1792  162928  Johns Hopkins University     MD  ...        33900.0  2006        1.20
1946  162928  Johns Hopkins University     MD  ...            NaN  1999         NaN

[5 rows x 8 columns]

# <17> Make a bar plot of the JHU percentage changes tuitions over time

In [97]:
fig = go.Figure()

JHU_tutfee_growth_rate = go.Bar(
    x=JHU_df["year"],
    y=JHU_df["PCT_CHANGE"], 
)

fig.add_trace(JHU_tutfee_growth_rate)

fig.update_layout(
    title = "JHU in-state tutionfee Growth Rate year after year in percentage",
    xaxis = {"title":"Year"},
    yaxis = {"title":"Percentage change in fee"}
)

fig.show()

# <18>
# In order to plot both UMBC and JHU tuition change over time in the same plot,
# we need to combine the two datasets using the common key of YEAR 
# First make a umbc2 dataframe with only two columns needed. WE don't need other columns.
# Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge.
# This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE",
# We rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully,
# Feel free to try it without changing the column names.

In [98]:
df_UMBC_new=df_UMBC[['year','PCT_CHANGE']]
df_UMBC_new = df_UMBC_new.rename(columns={'PCT_CHANGE': 'UMBC_PCT'})
df_UMB_new.head(3)

      year  UMBC_PCT
2151  1996       NaN
2049  1997       NaN
1982  1998       NaN

In [99]:
df_UMBC_new=df_UMBC[['year','PCT_CHANGE']]
df_UMBC_new = df_UMBC_new.rename(columns={'PCT_CHANGE': 'UMBC_PCT'})
df_UMBC_new.sample(3)

      year  UMBC_PCT
1873  2003     16.13
2151  1996       NaN
1555  2015      5.99

# Then make a jhu2 dataframe with only two columns needed. WE don't need other columns.
# Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

In [100]:
df_JHU_new=df_JHU[['year','PCT_CHANGE']]
df_JHU_new = df_JHU_new.rename(columns={'PCT_CHANGE': 'JHU_PCT'})
df_JHU_new.sample(3)

      year  JHU_PCT
1772  2007     1.00
1548  2015     5.99
1703  2010     3.37

# Now, merger the two data frames
# and display the new dataframe

In [102]:
dframes = [df_UMBC_new, df_JHU_new]
result = pd.concat(dframes)
df_new=result

In [103]:

df_new

      year  UMBC_PCT  JHU_PCT
2151  1996       NaN      NaN
2049  1997       NaN      NaN
1982  1998       NaN      NaN
1955  1999       NaN      NaN
1926  2000       NaN      NaN
1915  2001      7.65      NaN
1893  2002      7.65      NaN
1873  2003     16.13      NaN
1830  2004      8.55      NaN
1819  2005      6.23      NaN
1799  2006      1.20      NaN
1779  2007      1.00      NaN
1767  2008      0.83      NaN
1745  2009      1.05      NaN
1710  2010      3.37      NaN
1694  2011      3.23      NaN
1660  2012      3.14      NaN
1629  2013      3.11      NaN
1610  2014      3.14      NaN
1555  2015      5.99      NaN
1510  2016      2.34      NaN
1478  2017      2.25      NaN
1415  2018      2.26      NaN
2139  1996       NaN      NaN
2039  1997       NaN      NaN
1973  1998       NaN      NaN
1946  1999       NaN      NaN
1917  2000       NaN      NaN
1906  2001       NaN     7.65
1884  2002       NaN     7.65
1865  2003       NaN    16.13
1823  2004       NaN     8.55
1812  2005       NaN     6.23
1792  2006       NaN     1.20
1772  2007       NaN     1.00
1760  2008       NaN     0.83
1738  2009       NaN     1.05
1703  2010       NaN     3.37
1687  2011       NaN     3.23
1653  2012       NaN     3.14
1622  2013       NaN     3.11
1603  2014       NaN     3.14
1548  2015       NaN     5.99
1503  2016       NaN     2.34
1473  2017       NaN     2.25
1410  2018       NaN     2.26

In [ ]:
# Plot UMBC and JHU separately on the same plot 
# However, this does not work since the bars overlap.

In [105]:
fig = go.Figure()

Final_UMBC = go.Scatter(
    x=df_final["year"],
    y=df_final["UMBC_PCT"],
    name="UMBC",
    mode="markers+lines"
)

Final_JHU = go.Scatter(
    x=df_final["year"],
    y=df_final["JHU_PCT"],
    name="JHU",
    mode="markers+lines"
)

fig.add_trace(Final_UMBC)
fig.add_trace(Final_JHU)

fig.update_layout(
    title="Comparision of UMBC & JHU tution fee Growth",
    xaxis={"title":"Year"},
    yaxis={"title":"Percentage Growth"}
)

fig.show()

# Plot them together using y=["UMBC_PCT","JHU_PCT"] option of bar plot

In [122]:
fig = go.Figure()

Final_UMBC = go.Bar(
    x=df_final["year"],
    y=df_final["UMBC_PCT"],
    name="UMBC",
   
)

Final_JHU = go.Bar(
    x=df_final["year"],
    y=df_final["JHU_PCT"],
    name="JHU",

)

fig.add_trace(Final_UMBC)
fig.add_trace(Final_JHU)

fig.update_layout(
    title="Comparision of UMBC & JHU tution fee Growth",
    xaxis={"title":"Year"},
    yaxis={"title":"Percentage Growth"}
)

# <19> 
# document your observation/conclusion of the comparison plots (bar/line)
# use the following Markdown cell

All of the comparisions turned out the same for both UMBC and JHU.