<a href="https://colab.research.google.com/github/NihaRGali/data601_niha/blob/main/assignment_02/csvpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Loading data into pandas dataframe
## 2. Counting no.of rows and columns in the data

In [1]:
import pandas as pd

In [3]:
myData = pd.read_csv("FL_insurance_sample.csv")
myData

       policyID statecode  ... construction  point_granularity
0        119736        FL  ...      Masonry                  1
1        448094        FL  ...      Masonry                  3
2        206893        FL  ...         Wood                  1
3        333743        FL  ...         Wood                  3
4        172534        FL  ...         Wood                  1
...         ...       ...  ...          ...                ...
36629    404309        FL  ...         Wood                  3
36630    465875        FL  ...      Masonry                  1
36631    791209        FL  ...         Wood                  4
36632    322627        FL  ...      Masonry                  3
36633    398149        FL  ...      Masonry                  1

[36634 rows x 18 columns]

## 3. Displaying first 8 rows of the dataframe

In [6]:
myData[0:8]

   policyID statecode  ...         construction  point_granularity
0    119736        FL  ...              Masonry                  1
1    448094        FL  ...              Masonry                  3
2    206893        FL  ...                 Wood                  1
3    333743        FL  ...                 Wood                  3
4    172534        FL  ...                 Wood                  1
5    785275        FL  ...              Masonry                  3
6    995932        FL  ...  Reinforced Concrete                  1
7    223488        FL  ...                 Wood                  1

[8 rows x 18 columns]

## 4. Displaying bottom 3 rows of the dataframe

In [11]:
myData[-3 :]

       policyID statecode  ... construction  point_granularity
36631    791209        FL  ...         Wood                  4
36632    322627        FL  ...      Masonry                  3
36633    398149        FL  ...      Masonry                  1

[3 rows x 18 columns]

## 5. Dusplaying transpose of the first 4 rows

In [13]:
myData[0:4].T

                              0            1            2            3
policyID                 119736       448094       206893       333743
statecode                    FL           FL           FL           FL
county              CLAY COUNTY  CLAY COUNTY  CLAY COUNTY  CLAY COUNTY
eq_site_limit            498960  1.32238e+06       190724            0
hu_site_limit            498960  1.32238e+06       190724      79520.8
fl_site_limit            498960  1.32238e+06       190724            0
fr_site_limit            498960  1.32238e+06       190724            0
tiv_2011                 498960  1.32238e+06       190724      79520.8
tiv_2012                 792149  1.43816e+06       192477      86854.5
eq_site_deductible            0            0            0            0
hu_site_deductible       9979.2            0            0            0
fl_site_deductible            0            0            0            0
fr_site_deductible            0            0            0            0
point_latitude          30.1023      30.0639      30.0896      30.0632
point_longitude        -81.7118     -81.7077     -81.7005     -81.7077
line                Residential  Residential  Residential  Residential
construction            Masonry      Masonry         Wood         Wood
point_granularity             1            3            1            3

## 6. Link to the data source

In [ ]:
https://support.spatialkey.com/spatialkey-sample-csv-data/